<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.movie.service"/>
    <context:component-scan base-package="com.movie.converter"/>
    <context:component-scan base-package="com.movie.repository"/>
    <context:component-scan base-package="com.movie.controller"/>
    <context:annotation-config/>

    <!--- Controller -->
    <bean id="userController" class="com.movie.controller.UserController">
        <property name="BCryptPasswordEncoder" ref="bCryptPasswordEncoder"/>
        <property name="userFacade" ref="userFacade"/>
    </bean>
    <bean id="homepageController" class="com.movie.controller.HomepageController">
        <property name="movieFacade" ref="movieFacade"/>
        <property name="categoryFacade" ref="categoryFacade"/>
        <property name="watchlistItemFacade" ref="watchlistItemFacade"/>
    </bean>
    <bean id="movieController" class="com.movie.controller.MovieController">
        <property name="objectMapper" ref="objectMapper"/>
        <property name="movieFacade" ref="movieFacade"/>
    </bean>
    <bean id="categoryController" class="com.movie.controller.CategoryController">
        <property name="objectMapper" ref="objectMapper"/>
        <property name="categoryFacade" ref="categoryFacade"/>
    </bean>
    <bean id="watchlistItemController" class="com.movie.controller.WatchlistItemController">
        <property name="watchlistItemFacade" ref="watchlistItemFacade"/>
    </bean>
    <bean id="watchlistController" class="com.movie.controller.WatchlistController">
        <property name="watchlistFacade" ref="watchlistFacade"/>
    </bean>
    <bean id="searchController" class="com.movie.controller.SearchController">
        <property name="movieFacade" ref="movieFacade"/>
    </bean>

    <!--- Service -->
    <bean id="roleService" class="com.movie.service.impl.RoleServiceImpl">
        <property name="roleDAO" ref="roleDAO"/>
    </bean>
    <bean id="userService" class="com.movie.service.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
        <property name="roleService" ref="roleService"/>
    </bean>
    <bean id="movieService" class="com.movie.service.impl.MovieServiceImpl">
        <property name="movieDAO" ref="movieDAO"/>
        <property name="categoryDAO" ref="categoryDAO"/>
        <property name="watchlistItemDAO" ref="watchlistItemDAO"/>
    </bean>
    <bean id="categoryService" class="com.movie.service.impl.CategoryServiceImpl">
        <property name="categoryDAO" ref="categoryDAO"/>
        <property name="movieDAO" ref="movieDAO"/>

    </bean>
    <bean id="watchlistItemService" class="com.movie.service.impl.WatchlistItemServiceImpl">
        <property name="watchlistDAO" ref="watchlistDAO"/>
        <property name="watchlistItemDAO" ref="watchlistItemDAO"/>
        <property name="movieDAO" ref="movieDAO"/>
        <property name="userDAO" ref="userDAO"/>
    </bean>
    <bean id="watchlistService" class="com.movie.service.impl.WatchlistServiceImpl">
        <property name="watchlistDAO" ref="watchlistDAO"/>
    </bean>
    <bean id="securityUserDetailsService" class="com.movie.service.impl.SecurityUserDetailsService">
        <property name="userDAO" ref="userDAO"/>
    </bean>
    <!--- Facade -->
    <bean id="userFacade" class="com.movie.facade.impl.UserFacadeImpl">
        <property name="userConverter" ref="userConvertor"/>
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="movieFacade" class="com.movie.facade.impl.MovieFacadeImpl">
        <property name="movieConverter" ref="movieConverter"/>
        <property name="movieService" ref="movieService"/>
    </bean>
    <bean id="categoryFacade" class="com.movie.facade.impl.CategoryFacadeImpl">
        <property name="categoryConverter" ref="categoryConverter"/>
        <property name="categoryService" ref="categoryService"/>
    </bean>
    <bean id="watchlistItemFacade" class="com.movie.facade.impl.WatchlistItemFacadeImpl">
        <property name="watchlistItemConverter" ref="watchlistItemConverter"/>
        <property name="watchlistItemService" ref="watchlistItemService"/>
        <property name="movieConverter" ref="movieConverter"/>
    </bean>
    <bean id="watchlistFacade" class="com.movie.facade.impl.WatchlistFacadeImpl">
        <property name="watchlistService" ref="watchlistService"/>
        <property name="watchlistConverter" ref="watchlistConverter"/>
    </bean>

    <!--- Converters -->
    <bean id="movieConverter" class="com.movie.converter.MovieConverter">
        <property name="modelMapper" ref="modelMapper"/>
    </bean>
    <bean id="categoryConverter" class="com.movie.converter.CategoryConverter">
        <property name="modelMapper" ref="modelMapper"/>
    </bean>
    <bean id="watchlistItemConverter" class="com.movie.converter.WatchlistItemConverter">
        <property name="modelMapper" ref="modelMapper"/>
    </bean>
    <bean id="watchlistConverter" class="com.movie.converter.WatchlistConverter">
        <property name="modelMapper" ref="modelMapper"/>
    </bean>
    <bean id="userConvertor" class="com.movie.converter.UserConverter">
        <property name="modelMapper" ref="modelMapper"/>
    </bean>
    <bean id="modelMapper" class="org.modelmapper.ModelMapper">
    </bean>

    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>


</beans>